%table
  %tr
    %th ID
    %th Values
  -for document in documents(@database_name, @collection)
    %tr
      %td{ :class => 'monospace' }
        %a{ :href => "/database/#{@database_name}/#{@collection}/#{document['_id']}" }= document['_id']
      %td{ :class => 'monospace' }= truncate(hash_without(document, '_id').inspect, 80)