%table
  %tr
    %th Name
    %th Size
  -for collection in collections(@database_name)
    %tr
      %td
        %a{:href => "#{@database_name}/#{collection.name}"}= collection.name
      %td= collection.size