!!!
%html
  %head
    %title MongoWeb
    %link{ :href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #wrapper
      %h1 MongoWeb
      #site= yield
      %a{ :href => 'http://mongodb.org' }
        %img{ :src => 'http://api.mongodb.org/wiki/current/attachments/132305/1605648.png' }