!!!
%html
  %head
    %title MongoWeb
    %link{ :href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        %h1 MongoWeb
        
        -unless breadcrumbs.empty?
          %ul
            -for breadcrumb in breadcrumbs
              %li= breadcrumb
      
      #content= yield
      
    #footer
      %img{ :src => '/images/PoweredMongoDBblue50.png' }